In [2]:
import pandas as pd

df_clothes = pd.DataFrame(data = [['blue', 'S', '20', 'lemon shirt'],
                                  ['blue', 'M','50','jeans'],
                                  ['beige', 'M','7', 'bucket hat']])

df_clothes.columns = ['color', 'size','price', 'type']
df_clothes

   color size price         type
0   blue    S    20  lemon shirt
1   blue    M    50        jeans
2  beige    M     7   bucket hat

In [4]:
# can covert categoriacal values to numerical 
# size is ordinal, so it can be easily encoded

size_map = {'S':1,'M':2,'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

   color  size price         type
0   blue   NaN    20  lemon shirt
1   blue   NaN    50        jeans
2  beige   NaN     7   bucket hat

In [5]:
%pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\tonyp\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\tonyp\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 670.4 kB/s eta 0:00:16
   - -------------------------------------- 0.5/11.0 MB 670.4 kB/s eta 0:00:16
   -- ------------------------------------- 0.8/11.0 MB 670.4 kB/s eta 0:00:16
   ---- ----------------------------------- 1.3/11.0 MB 932.1 kB/s eta 0:00:11
   --------- ------------------------------ 2.6/11.0 MB 1.7 MB/s eta 0:00:05
   ------------- -------------------------- 3.7/11.0 MB 2.2 MB/s eta 0:00:04
   ------------------- -------------------- 5.2/11.0 MB 2.8 MB/s eta 0:00:03
   ----------------------- ---------------- 6.6/11.0 MB 3.1 MB/s eta 0:00:02
   ---------------------------------- ----- 9.4/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 4.5 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
from sklearn.preprocessing import LabelEncoder

class_labels = LabelEncoder()


df_clothes['types'] = class_labels.fit_transform(df_clothes['color'].values)
df_clothes

   color  size price         type  types
0   blue   NaN    20  lemon shirt      1
1   blue   NaN    50        jeans      1
2  beige   NaN     7   bucket hat      0

In [8]:
#one hot encoding
df_clothes = pd.get_dummies(df_clothes[['color','size','price']])
df_clothes

   size  color_beige  color_blue  price_20  price_50  price_7
0   NaN        False        True      True     False    False
1   NaN        False        True     False      True    False
2   NaN         True       False     False     False     True